rules_version = '2';
service firebase.storage {
  match /b/fuxam-web-7e071.appspot.com/o {
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}